html,
body {
    margin:0;
    padding:0;
    height:100%;
    font:13px arial,sans-serif;
}
#container {
    min-height: 100%;
    position: relative;
}
#header {
    position: absolute;
    top: 0;
    width: 100%;
    }
.list {
    float:right;
    padding: 5px 25px;
    vertical-align: middle;
}
#header img {
    padding: 0 10px;
    vertical-align: middle;
}
#main {
    padding: 200px 25px 40px 25px;
    color: #444;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color:#656565;
    background-color: #f1f1f1;
    border-top: 1px solid #e4e4e4;
    vertical-align: middle;    
    padding: 0;
}
.logo {
    max-width: 270px;
}
.btn {
    line-height: 28px;
    padding: 8px 12px;
    border-radius: 2px;
}
.blue {
    background-color: #4684ee;
    color: white;
    font-weight: bold;
}
.grey {
border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    background-color: #f4f4f4;
    margin: 10px;
}
input {
    width: 480px;
    height: 22px;
    margin: 20px;
}
.left {
    float:left;
    padding: 0 8px;
}
.right {
    float:right;
}
#header ul li {
    display: inline-block;
    list-style: none;
    line-height: 40px;
    padding: 0 5px;
}
#footer ul li {
    display: inline-block;
    list-style: none;
    padding: 0 14px;
}
