html,
body {
    margin:0;
    padding:0;
    height:100%;
    font:13px arial,sans-serif;
}
#container {
    min-height: 100%;
    position: relative;
}
#header {
    position: absolute;
    top: 0;
    width: 100%;
    }
.list {
    float:right;
    padding: 5px 25px;
    vertical-align: middle;
}
#header img {
    padding: 0 10px;
    vertical-align: middle;
}
#main {
    padding: 200px 25px 40px 25px;
    color: rgb(68,68,68);
    font-size: 13px;
    text-align: center;
    font-weight: bold;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color:#656565;
    background-color: #f1f1f1;
    border-top: 1px solid #e4e4e4;
    vertical-align: middle;    
    padding: 0;
}
.logo {
    max-width: 270px;
}
.btn {
    line-height: 28px;
    padding: 0px 16px;
    margin: 11px 4px;
    height: 36px;
    min-width: 54px;
    border-radius: 2px;
    font: 13px arial,sans-serif;
    font-weight: 700;
}
.blue {
    background-color: #4684ee;
    color: white;
    font-weight: bold;
}
.grey {
    border: 1px solid rgb(242,242,242);
    color: rgb(117,117,117);
    background-color: rgb(242,242,242);
    background-image: linear-gradient(rgb(245,245,245),rgb(242,241,241));
}
.grey:hover {
    color: #444;
    border-color: rgb(198,198,198);
    box-shadow: rgba(0,0,0,0.1) 0px 1px 1px 0px;
}
#search {

}
.search-container {
    width: 584px;
    height: 44px;
    margin: 0px auto;
    border: 1px solid rgb(234,234,234);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.165), 0 0 0 1px rgba(0,0,0,0.08)
}
.left {
    float:left;
    padding: 0 8px;
}
.right {
    float:right;
}
#header ul li {
    display: inline-block;
    list-style: none;
    line-height: 40px;
    padding: 0 5px;
}
#footer ul li {
    display: inline-block;
    list-style: none;
    padding: 0 14px;
}
